docs/autotramite/ref/autotramite-compraventa-mvp.json
{
  "name": "AutoTramite Compraventa MVP",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Crear Contrato de Compraventa - AutoTramite",
        "formDescription": "Pegue los datos del CAV + Nota de Venta para generar el contrato automaticamente",
        "responseMode": "responseNode",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Datos del Contrato (CAV + Nota de Venta)",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "Inscripcion : XXXX00-0\nDATOS DEL VEHICULO\nTipo Vehiculo : AUTOMOVIL Ano : 2020\nMarca : MARCA\nModelo : MODELO\nNro. Motor : ABC123\nNro. Chasis : XYZ789\nColor : COLOR\n\nDATOS DEL VENDEDOR\nNombre : NOMBRES APELLIDO1 APELLIDO2\nR.U.N. : 12.345.678-9\nDIRECCION: CALLE 123, COMUNA. CIUDAD\nTelefono: 912345678\nCorreo: email@ejemplo.com\n\nTASACION 5.000.000\nVENTA 5.000.000\n\nDATOS COMPRADOR\nNombre: NOMBRES APELLIDO1 APELLIDO2\nRUT: 98.765.432-1\nDireccion: CALLE 456, COMUNA. CIUDAD\nTelefono: 987654321\nCorreo: comprador@ejemplo.com"
            }
          ]
        }
      },
      "id": "form-trigger",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "webhookId": "autotramite-compraventa-form"
    },
    {
      "parameters": {
        "jsCode": "// Parsear texto estructurado del CAV + Nota de Venta\n// Basado en el plan: n8n-autotramite-compraventa-workflow-plan.md\n\nfunction extraer(texto, regex) {\n  const match = texto.match(regex);\n  return match ? match[1].trim() : null;\n}\n\nfunction separarNombre(nombreCompleto) {\n  const palabras = nombreCompleto.split(/\\s+/);\n  if (palabras.length >= 4) {\n    return {\n      nombres: palabras.slice(0, -2).join(' '),\n      apellidoPaterno: palabras[palabras.length - 2],\n      apellidoMaterno: palabras[palabras.length - 1]\n    };\n  } else if (palabras.length === 3) {\n    return {\n      nombres: palabras[0],\n      apellidoPaterno: palabras[1],\n      apellidoMaterno: palabras[2]\n    };\n  } else if (palabras.length === 2) {\n    return {\n      nombres: palabras[0],\n      apellidoPaterno: palabras[1],\n      apellidoMaterno: ' '\n    };\n  }\n  return { nombres: nombreCompleto, apellidoPaterno: '', apellidoMaterno: ' ' };\n}\n\nfunction separarDireccion(direccionCompleta) {\n  if (!direccionCompleta) {\n    return { direccion: '', comuna: '', ciudad: '' };\n  }\n\n  const partesComa = direccionCompleta.split(',').map(p => p.trim()).filter(p => p);\n  if (partesComa.length >= 3) {\n    return { direccion: partesComa[0], comuna: partesComa[1], ciudad: partesComa[2] };\n  } else if (partesComa.length === 2) {\n    const direccion = partesComa[0];\n    const resto = partesComa[1];\n    const partesPunto = resto.split('.').map(p => p.trim()).filter(p => p);\n    if (partesPunto.length >= 2) {\n      return { direccion: direccion, comuna: partesPunto[0], ciudad: partesPunto[1] };\n    } else if (partesPunto.length === 1) {\n      return { direccion: direccion, comuna: partesPunto[0], ciudad: partesPunto[0] };\n    }\n    return { direccion: direccion, comuna: '', ciudad: '' };\n  }\n\n  const partes = direccionCompleta.split('.').map(p => p.trim()).filter(p => p);\n  if (partes.length >= 3) {\n    return { direccion: partes[0], comuna: partes[1], ciudad: partes[2] };\n  } else if (partes.length === 2) {\n    return { direccion: partes[0], comuna: partes[1], ciudad: partes[1] };\n  }\n  return { direccion: direccionCompleta, comuna: '', ciudad: '' };\n}\n\nfunction normalizarRUT(rut) {\n  if (!rut) return '';\n  const limpio = rut.replace(/[^0-9Kk]/g, '').toUpperCase();\n  if (limpio.length < 2) return '';\n  const cuerpo = limpio.slice(0, -1);\n  const dv = limpio.slice(-1);\n  const formateado = cuerpo.replace(/\\B(?=(\\d{3})+(?!\\d))/g, '.');\n  return `${formateado}-${dv}`;\n}\n\nfunction limpiarPatente(patenteRaw) {\n  return patenteRaw ? patenteRaw.replace(/[^A-Z0-9]/gi, '').toUpperCase() : '';\n}\n\nfunction parsearTextoContrato(texto) {\n  const datos = {};\n\n  // Patente\n  // Formatos: DRLZ.16-3, DRLZ16-3, AB1234-5 (con o sin palabra \"Inscripcion\"/\"Patente\")\n  const inscripcion = texto.match(/(?:Inscripci(?:o|ó)n|Inscripcion|Patente)\\s*:\\s*([A-Z0-9.]+)\\s*-\\s*([0-9K])/i);\n  const patenteMatch = inscripcion || texto.match(/([A-Z]{4}\\.?[0-9]{2}|[A-Z]{2}\\.?[0-9]{4})\\s*-\\s*([0-9K])/i);\n  if (patenteMatch) {\n    datos.patente = limpiarPatente(patenteMatch[1]);\n    datos.patente_dv = patenteMatch[2].toUpperCase();\n  }\n\n  // Vehiculo\n  datos.tipo_vehiculo = extraer(texto, /Tipo Veh[ií]culo\\s*:\\s*(\\w+)/i) || 'AUTOMOVIL';\n  datos.ano = extraer(texto, /A[ñn]o\\s*:\\s*(\\d{4})/i);\n  datos.marca = extraer(texto, /Marca\\s*:\\s*(.+?)(?:\\r?\\n|$)/i);\n  datos.modelo = extraer(texto, /Modelo\\s*:\\s*(.+?)(?:\\r?\\n|$)/i);\n  datos.motor = extraer(texto, /Nro\\.\\s*Motor\\s*:\\s*(\\S+)/i);\n  datos.chasis = extraer(texto, /Nro\\.\\s*(?:Chasis|Vin)\\s*:\\s*(\\S+)/i);\n  datos.color = extraer(texto, /Color\\s*:\\s*(\\w+)/i);\n\n  // Tasacion y Venta\n  const tasacionRaw = extraer(texto, /TASACION\\s*([0-9.]+)/i);\n  const ventaRaw = extraer(texto, /VENTA\\s*([0-9.]+)/i);\n  datos.tasacion = tasacionRaw ? tasacionRaw.replace(/\\./g, '') : null;\n  datos.venta = ventaRaw ? ventaRaw.replace(/\\./g, '') : null;\n\n  // Vendedor\n  const nombreVendedor = extraer(texto, /DATOS DEL VENDEDOR[\\s\\S]*?Nombre\\s*:\\s*(.+?)(?:\\r?\\n|R\\.U\\.N)/i);\n  if (nombreVendedor) {\n    const partes = separarNombre(nombreVendedor.trim());\n    datos.vendedor_nombres = partes.nombres;\n    datos.vendedor_ap_paterno = partes.apellidoPaterno;\n    datos.vendedor_ap_materno = partes.apellidoMaterno;\n  }\n  datos.vendedor_rut = normalizarRUT(extraer(texto, /R\\.?U\\.?\\s*(?:T|N)\\.?\\s*:\\s*([0-9Kk.-]+)/i)); // RUT/RUN\n\n  const dirVendedor = extraer(texto, /DIRECCION\\s*:\\s*(.+?)(?:\\r?\\n|Telefono)/i);\n  if (dirVendedor) {\n    const partes = separarDireccion(dirVendedor);\n    datos.vendedor_direccion = partes.direccion;\n    datos.vendedor_comuna = partes.comuna;\n    datos.vendedor_ciudad = partes.ciudad;\n  }\n  datos.vendedor_telefono = extraer(texto, /Telefono\\s*:\\s*(\\d+)/i);\n  datos.vendedor_correo = extraer(texto, /Correo\\s*:\\s*(\\S+@\\S+)/i);\n\n  // Comprador\n  // Buscar bloque COMPRADOR mas flexiblemente\n  const bloqueCompradorMatch = texto.match(/DATOS\\s*(?:DEL\\s*)?COMPRADOR([\\s\\S]*?)(?:$|DATOS)/i);\n  const bloqueComprador = bloqueCompradorMatch ? bloqueCompradorMatch[1] : '';\n\n  const nombreComprador = extraer(bloqueComprador, /Nombre\\s*:\\s*(.+?)(?:\\r?\\n|RUT)/i);\n  if (nombreComprador) {\n    const partes = separarNombre(nombreComprador.trim());\n    datos.comprador_nombres = partes.nombres;\n    datos.comprador_ap_paterno = partes.apellidoPaterno;\n    datos.comprador_ap_materno = partes.apellidoMaterno;\n  }\n  // RUT Comprador (Regex mas flexible)\n  datos.comprador_rut = normalizarRUT(extraer(bloqueComprador, /R\\.?U\\.?\\s*(?:T|N)\\.?\\s*:\\s*([0-9Kk.-]+)/i));\n\n  const dirComprador = extraer(bloqueComprador, /Direccion\\s*:\\s*(.+?)(?:\\r?\\n|Telefono)/i);\n  if (dirComprador) {\n    const partes = separarDireccion(dirComprador);\n    datos.comprador_direccion = partes.direccion;\n    datos.comprador_comuna = partes.comuna;\n    datos.comprador_ciudad = partes.ciudad;\n  }\n  datos.comprador_telefono = extraer(bloqueComprador, /Telefono\\s*:\\s*(\\d+)/i);\n  datos.comprador_correo = extraer(bloqueComprador, /Correo\\s*:\\s*(\\S+@\\S+)/i);\n\n  // Valores por defecto\n  datos.generado_por = 'AUTORECENTE SPA (QUEIROLO)';\n  datos.tipo_firma = 'fea';\n\n  return datos;\n}\n\n// Obtener texto del formulario\nconst textoContrato = $input.first().json['Datos del Contrato (CAV + Nota de Venta)'] || '';\nconst datos = parsearTextoContrato(textoContrato);\n\nreturn [{ json: datos }];"
      },
      "id": "parse-text",
      "name": "Parsear Texto Contrato",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validar datos parseados\n// RUT chileno (modulo 11), telefono, patente\n\nfunction validarRUT(rut) {\n  if (!rut) return false;\n  const clean = rut.replace(/[^0-9Kk]/g, '').toUpperCase();\n  if (clean.length < 2) return false;\n  const body = clean.slice(0, -1);\n  const dv = clean.slice(-1);\n  let suma = 0;\n  let multiplo = 2;\n  for (let i = body.length - 1; i >= 0; i--) {\n    suma += parseInt(body[i]) * multiplo;\n    multiplo = multiplo === 7 ? 2 : multiplo + 1;\n  }\n  const dvEsperado = 11 - (suma % 11);\n  const dvCalculado = dvEsperado === 11 ? '0' : dvEsperado === 10 ? 'K' : String(dvEsperado);\n  return dv === dvCalculado;\n}\n\nconst data = $input.first().json;\nconst errores = [];\n\n// Validar campos requeridos\nif (!data.patente) errores.push('Patente no encontrada en el texto');\nif (!data.patente_dv) errores.push('Digito verificador de patente no encontrado');\nif (!data.marca) errores.push('Marca no encontrada');\nif (!data.modelo) errores.push('Modelo no encontrado');\nif (!data.ano) errores.push('Año no encontrado');\n\n// Validar RUTs\nif (!data.vendedor_rut) {\n  errores.push('RUT vendedor no encontrado');\n} else if (!validarRUT(data.vendedor_rut)) {\n  errores.push('RUT vendedor invalido (digito verificador incorrecto)');\n}\n\nif (!data.comprador_rut) {\n  errores.push('RUT comprador no encontrado');\n} else if (!validarRUT(data.comprador_rut)) {\n  errores.push('RUT comprador invalido (digito verificador incorrecto)');\n}\n\n// Validar telefonos\nconst telRegex = /^[0-9]{8,9}$/;\nif (data.vendedor_telefono && !telRegex.test(data.vendedor_telefono)) {\n  errores.push('Telefono vendedor invalido (debe tener 8-9 digitos)');\n}\nif (data.comprador_telefono && !telRegex.test(data.comprador_telefono)) {\n  errores.push('Telefono comprador invalido (debe tener 8-9 digitos)');\n}\n\n// Validar patente formato\nconst patenteRegex = /^[A-Z]{2,4}[0-9]{2,4}$/;\nconst patenteNormalizada = data.patente ? data.patente.replace(/[^A-Z0-9]/gi, '').toUpperCase() : '';\nif (patenteNormalizada && !patenteRegex.test(patenteNormalizada)) {\n  errores.push('Formato de patente invalido (esperado: XXXX00)');\n}\n\nconst dvRegex = /^[0-9K]$/i;\nif (data.patente_dv && !dvRegex.test(data.patente_dv)) {\n  errores.push('Digito verificador de patente invalido (0-9 o K)');\n}\n\nreturn [{\n  json: {\n    ...data,\n    validacion_ok: errores.length === 0,\n    errores: errores,\n    errores_texto: errores.join('; ')\n  }\n}];"
      },
      "id": "validate-data",
      "name": "Validar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "validation-check",
              "leftValue": "={{ $json.validacion_ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-valid",
      "name": "Validacion OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ \"ERROR DE VALIDACION\\n\\n\" + $json.errores_texto + \"\\n\\nRevise el formato del texto ingresado y vuelva a intentar.\" }}"
      },
      "id": "form-error-response",
      "name": "Responder Error Validacion",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        880,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar datos para script Playwright\n// Este nodo genera el JSON que sera pasado al script externo\n\nconst data = $input.first().json;\n\n// Mapear campos a los IDs del formulario AutoTramite\n// Selectores validados: #patenter, #DvPatente, #marca, etc.\n\nconst playwrightPayload = {\n  // Vehiculo\n  patente: data.patente,\n  patente_dv: data.patente_dv,\n  marca: data.marca,\n  modelo: data.modelo,\n  ano: data.ano,\n  color: data.color || 'SIN ESPECIFICAR',\n  chasis: data.chasis,\n  motor: data.motor,\n  tipo_vehiculo: data.tipo_vehiculo || 'AUTOMOVIL',\n  tasacion: data.tasacion || data.venta,\n  valor_venta: data.venta,\n  \n  // Vendedor\n  vendedor_rut: data.vendedor_rut,\n  vendedor_nombres: data.vendedor_nombres,\n  vendedor_ap_paterno: data.vendedor_ap_paterno,\n  vendedor_ap_materno: data.vendedor_ap_materno || ' ',\n  vendedor_direccion: data.vendedor_direccion,\n  vendedor_comuna: data.vendedor_comuna,\n  vendedor_ciudad: data.vendedor_ciudad,\n  vendedor_telefono: data.vendedor_telefono,\n  vendedor_email: data.vendedor_correo,\n  \n  // Comprador\n  comprador_rut: data.comprador_rut,\n  comprador_nombres: data.comprador_nombres,\n  comprador_ap_paterno: data.comprador_ap_paterno,\n  comprador_ap_materno: data.comprador_ap_materno || ' ',\n  comprador_direccion: data.comprador_direccion,\n  comprador_comuna: data.comprador_comuna,\n  comprador_ciudad: data.comprador_ciudad,\n  comprador_telefono: data.comprador_telefono,\n  comprador_email: data.comprador_correo,\n  \n  // Configuracion\n  generado_por: data.generado_por || 'AUTORECENTE SPA (QUEIROLO)',\n  tipo_firma: data.tipo_firma || 'fea'\n};\n\nreturn [{ json: playwrightPayload }];"
      },
      "id": "prepare-playwright",
      "name": "Preparar Datos Playwright",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chrome.browserless.io/function",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "2Tul0CtmBsDt1uEe94762146f752a1ed1a3c566f71f649d2e"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { \"context\": $json, \"code\": \"export default async ({ page, context }) => {\\n  const datos = context;\\n\\n  const fill = async (selector, value) => {\\n    if (value === undefined || value === null || value === '') return;\\n    await page.waitForSelector(selector, { visible: true });\\n    await page.click(selector, { clickCount: 3 });\\n    await page.keyboard.press('Backspace');\\n    await page.type(selector, String(value));\\n  };\\n\\n  const clickByText = async (text) => {\\n    const clicked = await page.evaluate((label) => {\\n      const buttons = Array.from(document.querySelectorAll('button, input[type=\"submit\"], input[type=\"button\"]'));\\n      const btn = buttons.find(el => {\\n        const value = (el.innerText || el.value || '').trim();\\n        return value.includes(label);\\n      });\\n      if (btn) {\\n        btn.click();\\n        return true;\\n      }\\n      return false;\\n    }, text);\\n    if (!clicked) throw new Error(`Boton no encontrado: ${text}`);\\n  };\\n\\n  // CREDENCIALES INTEGRADAS\\n  const EMAIL_AUTOTRAMITE = 'dparra@queirolo.cl';\\n  const PASS_AUTOTRAMITE = 'queirolo#2025.';\\n\\n  console.log('Iniciando navegacion en AutoTramite...');\\n\\n  // 1. LOGIN\\n  await page.goto('https://autotramite.cl/secciones/login.php', { waitUntil: 'networkidle0' });\\n  \\n  await fill('#Correo', EMAIL_AUTOTRAMITE);\\n  await fill('#Clave', PASS_AUTOTRAMITE);\\n  \\n  await Promise.all([\\n    page.waitForNavigation({ waitUntil: 'networkidle0' }),\\n    clickByText('Iniciar')\\n  ]);\\n\\n  if (page.url().includes('login.php')) {\\n    throw new Error('LOGIN FALLIDO: Revisa tus credenciales');\\n  }\\n\\n  // 2. IR AL FORMULARIO\\n  await page.goto('https://autotramite.cl/secciones/vista_personas_empresas.php', { waitUntil: 'networkidle0' });\\n\\n  // 3. LLENAR DATOS\\n  if (datos.patente) await fill('#patenter', datos.patente);\\n  if (datos.patente_dv) await fill('#DvPatente', datos.patente_dv);\\n  if (datos.marca) await fill('#marca', datos.marca);\\n  if (datos.modelo) await fill('#modelo', datos.modelo);\\n  if (datos.ano) await fill('#anhio', String(datos.ano));\\n  if (datos.color) await fill('#color', datos.color);\\n  if (datos.chasis) await fill('#nchasis', datos.chasis);\\n  if (datos.motor) await fill('#nmotor', datos.motor);\\n  if (datos.tipo_vehiculo) await fill('#tipovehiculo', datos.tipo_vehiculo);\\n  \\n  const valor = String(datos.valor_venta || '0');\\n  await fill('#tasacion', String(datos.tasacion || valor));\\n  await fill('#valor_venta', valor);\\n\\n  // Vendedor\\n  await fill('#rutv', datos.vendedor_rut);\\n  await fill('#nombrev', datos.vendedor_nombres);\\n  await fill('#apellidopv', datos.vendedor_ap_paterno);\\n  if (datos.vendedor_ap_materno) await fill('#apellidomv', datos.vendedor_ap_materno);\\n  await fill('#direccionv', datos.vendedor_direccion);\\n  await fill('#comunav', datos.vendedor_comuna);\\n  await fill('#ciudadv', datos.vendedor_ciudad);\\n  await fill('#telefonov', datos.vendedor_telefono);\\n  await fill('#correov', datos.vendedor_email);\\n\\n  // Comprador\\n  await fill('#rutc', datos.comprador_rut);\\n  await fill('#nombrec', datos.comprador_nombres);\\n  await fill('#apellidopc', datos.comprador_ap_paterno);\\n  if (datos.comprador_ap_materno) await fill('#apellidomc', datos.comprador_ap_materno);\\n  await fill('#direccionc', datos.comprador_direccion);\\n  await fill('#comunac', datos.comprador_comuna);\\n  await fill('#ciudadc', datos.comprador_ciudad);\\n  await fill('#telefonoc', datos.comprador_telefono);\\n  await fill('#correoc', datos.comprador_email);\\n\\n  try {\\n     const opcion = datos.generado_por || 'AUTORECENTE SPA (QUEIROLO)';\\n     try {\\n       await page.select('#operador', opcion);\\n     } catch (e) {\\n       await page.evaluate((label) => {\\n         const select = document.querySelector('#operador');\\n         if (!select) return;\\n         const option = Array.from(select.options).find(o => o.text.trim() === label);\\n         if (option) {\\n           select.value = option.value;\\n           select.dispatchEvent(new Event('change', { bubbles: true }));\\n         }\\n       }, opcion);\\n     }\\n  } catch(e) { console.log('Opcion operador no encontrada, omitiendo'); }\\n\\n  if (datos.tipo_firma === 'fea') {\\n      try {\\n        const isChecked = await page.$eval('#firmaElec', el => el.checked);\\n        if (!isChecked) await page.click('#firmaElec');\\n      } catch(e) {}\\n  }\\n\\n  // 4. RETORNO (MVP: No hace click en registrar)\\n  return {\\n    success: true,\\n    operacion_id: \\\"SIMULADO-\\\" + Date.now(),\\n    mensaje: \\\"Formulario llenado correctamente en AutoTramite\\\"\\n  };\\n};\" } }}"
      },
      "id": "browserless-cloud",
      "name": "Browserless Cloud",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1100,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Procesar resultado del script Playwright\n\n// Browserless retorna el objeto JSON directo en la respuesta\n// No necesitamos parsear stdout\n\nconst response = $input.first().json;\n\n// Agregar datos originales para referencia\nconst datosOriginales = $('Preparar Datos Playwright').first().json;\n\nreturn [{\n  json: {\n    ...response,\n    patente: datosOriginales.patente,\n    patente_dv: datosOriginales.patente_dv,\n    marca: datosOriginales.marca,\n    modelo: datosOriginales.modelo,\n    ano: datosOriginales.ano,\n    vendedor_nombres: datosOriginales.vendedor_nombres,\n    vendedor_rut: datosOriginales.vendedor_rut,\n    comprador_nombres: datosOriginales.comprador_nombres,\n    comprador_rut: datosOriginales.comprador_rut,\n    valor_venta: datosOriginales.valor_venta,\n    vendedor_email: datosOriginales.vendedor_email,\n    comprador_email: datosOriginales.comprador_email\n  }\n}];"
      },
      "id": "parse-playwright-result",
      "name": "Procesar Resultado Playwright",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-success",
      "name": "Operacion Exitosa?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1540,
        -100
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ \"CONTRATO REGISTRADO EXITOSAMENTE\\n\\nPatente: \" + $json.patente + \"-\" + $json.patente_dv + \"\\nVehiculo: \" + $json.marca + \" \" + $json.modelo + \"\\nID Operacion: \" + ($json.operacion_id || 'Pendiente') }}"
      },
      "id": "form-success-response",
      "name": "Responder Exito",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        1760,
        -200
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ \"ERROR AL REGISTRAR CONTRATO\\n\\n\" + $json.error + \"\\n\\nConsulte con soporte.\" }}"
      },
      "id": "form-error-playwright-response",
      "name": "Responder Error Playwright",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        1760,
        0
      ]
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Parsear Texto Contrato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Texto Contrato": {
      "main": [
        [
          {
            "node": "Validar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Datos": {
      "main": [
        [
          {
            "node": "Validacion OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validacion OK?": {
      "main": [
        [
          {
            "node": "Preparar Datos Playwright",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Error Validacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos Playwright": {
      "main": [
        [
          {
            "node": "Browserless Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Browserless Cloud": {
      "main": [
        [
          {
            "node": "Procesar Resultado Playwright",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Resultado Playwright": {
      "main": [
        [
          {
            "node": "Operacion Exitosa?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Operacion Exitosa?": {
      "main": [
        [
          {
            "node": "Responder Exito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Error Playwright",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "AutoTramite"
    },
    {
      "name": "MVP"
    },
    {
      "name": "Compraventa"
    }
  ]
}